.bodyContainer{
  margin: auto;
  margin-top: 8px;
  font-family: Calibri, 'Roboto', sans-serif;
  width: 850px;
}
.container{
    text-align:center;
}

.resultTitle {
    height: 100px;
    text-align: center;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    padding:0;
}
.title {
    border-radius: 10px;
}
.grayBackground {
    background-color: #f5f5f5;
}


h1 {
  font-size:32px;
}

#progress {
  position: absolute;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}
.center {
  margin-top:10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/******
  Form
 ******/
#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
}

.next {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #25a3ff;
  float: right;
  cursor: pointer;
}
.next:hover {color: #333}
.wrong .next {color: #ff2d26}
.close .next {color: #fff}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
  width: 100%;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  transition: .2s ease-in-out;
  color: red;
}

#inputContainer input:valid + #inputLabel {
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #9e9e9e;
}

#inputProgress {
  position: absolute;
  border-bottom: 2px solid #25a3ff;
  padding: 3px 0;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}

ul {
    list-style-type: none;
    margin: auto;
}
.oneDisplay {
    margin: 10px auto;
    width:700px;
    height:115px;
}

div {
    display:block;
}
.oneDisplay .image {
    margin-top:7px;
    float: left;
    position: relative;
    width: 100px;
    height:100px;
}
.small {

    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.image a {
    text-decoration: none;
    padding: 0;
}
.oneDisplay .info {
    float: left;
    margin-left:10px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    width:400px;
    height: 103px;
    font-size:16px;
}

.oneDisplay .info p, .oneDisplay .address p{
    margin:0;
    padding:0;
}

.info .review, .info .price {
    font-size:13px;
}
.oneDisplay .address {
    float: left;
    margin-left: 10px;
    position: relative;
    width: 180px;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}


.bold {
    font-weight: bold;
}

.darkBlue {
    color: #1f56af;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 4px;
}

.button {
    height:30px;
    width:30px;
    text-align: center;
}
.title button:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #cfcfd1;
    color: black;
}

.resultContainer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.round {
    border-radius: 50%;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 14pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}

.search-pagination {
    height: 80px;
}

.page-of-pages {
    width: 150px;
    height: 80px;
    float:left;
    text-align: center;
    position: relative;
}

.page-of-pages p {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
}

.page-of-links {
    width: 700px;

    height: 80px;
    position: relative;
}

.page-of-links nav {
    position: absolute;
    margin: 0;
    right: 0%;
}

.display-inline {
    display: inline-block;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}
/* IE */
 <!--[if IE]> .full-stars {
    color: #ECBE24;
}
<![endif]-->